demo-soapui.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.campos.com/pokeapi/gen" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="com.campos.pokeapi.gen" targetNamespace="com.campos.pokeapi.gen">
    <wsdl:types>
        <xs:schema xmlns:tns="http://www.campos.com/pokeapi/gen" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.campos.com/pokeapi/gen">
            <!--  Find All  -->
            <xs:element name="getPokemonsRequest">
                <xs:complexType>
                    <xs:sequence> </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPokemonsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="next" type="xs:string"/>
                        <xs:element name="previous" type="xs:string"/>
                        <xs:element name="count" type="xs:int"/>
                        <xs:element maxOccurs="unbounded" name="results" type="tns:Pokemon"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Pokemon">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="url" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getPokemonsRequest">
        <wsdl:part element="sch:getPokemonsRequest" name="getPokemonsRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPokemonsResponse">
        <wsdl:part element="sch:getPokemonsResponse" name="getPokemonsResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="pokeapiSoapHttp">
        <wsdl:operation name="getPokemons">
            <wsdl:input message="tns:getPokemonsRequest" name="getPokemonsRequest"> </wsdl:input>
            <wsdl:output message="tns:getPokemonsResponse" name="getPokemonsResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="pokeapiSoapHttpSoap11" type="tns:pokeapiSoapHttp">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getPokemons">
            <soap:operation soapAction=""/>
            <wsdl:input name="getPokemonsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPokemonsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="pokeapiSoapHttpService">
        <wsdl:port binding="tns:pokeapiSoapHttpSoap11" name="pokeapiSoapHttpSoap11">
            <soap:address location="http://localhost:8080/pokeapi"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>